<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

  <title>Covid-19</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/996973c893.js" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="../css/styles.css" />
  <!-- Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>


<body>
  <section id="navigation">
    <nav class="navbar navbar-expand-md navbar-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="/images/logo.jpeg" /> </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">HomePage</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/users/login" target="_blank">Signin</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/users/register">Register</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>



<table class="table table-hover table-dark">
  <div class="container-fluid">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">COVID UPDATES</h1>
        <h4><a href="#myChart">Click here to see real time chart!</a></h4>
        <h4><a href="/covidLive">Go Back</a></h4>
      </div>
    </div>
  </div>
  <thead>
    <tr>
      <th scope="col">Country Name</th>
      <th scope="col">Active</th>
      <th scope="col">Recovered</th>
      <th scope="col">Deceased</th>
      <th scope="col">Confirmed</th>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < allData.length; i++) { %>
    <tr>
      <td><%= allData[i].Country %></td>
      <td><%= allData[i].TotalConfirmed - allData[i].TotalRecovered - allData[i].TotalDeaths %></td>
      <td><%= allData[i].TotalRecovered %></td>
      <td><%= allData[i].TotalDeaths %></td>
      <td><%= allData[i].TotalConfirmed %></td>
    </tr>
    <% } %>
  </tbody>
</table>


<div class="container-fluid bg-light p-5 text-center my-3">
  <h1 class="">World Covid-19 Tracker</h1>
</div>






<canvas id="myChart"></canvas>



<!-- JAVASCRIPT---------------------------------------------------------------- -->

<script>
$(document).ready(function () {
    // Get JSON data from url
    $.getJSON("https://api.covid19api.com/summary", function (data) {
      var states = [];
      var confirmed = [];
      var recovered = [];
      var deaths = [];

     var active;
      var total_confirmed;
      var total_recovered;
      var total_deaths;

      // Take the first element in statewise array and add the objects values into the above variables
      total_confirmed = data.Global.TotalConfirmed;
      total_recovered = data.Global.TotalRecovered;
      total_deaths = data.Global.TotalDeaths;
      active = (total_confirmed - total_recovered - total_deaths)

      // The each loop select a single statewise array element
      // Take the data in that array and add it to variables
      $.each(data.Countries, function (id, obj) {
        states.push(obj.Country);
        confirmed.push(obj.TotalConfirmed);
        recovered.push(obj.TotalRecovered);
        deaths.push(obj.TotalDeaths);
      });
  // console.log(data);
      // Remove the first element in the states, confirmed, recovered, and deaths as that is the total value

    //   states.shift();

    //   confirmed.shift();
    //   recovered.shift();
    //   deaths.shift();

      // console.log(states);
      // using jquery
      // $("#confirmed").append(total_confirmed);
      // $("#active").append(total_active);
      // $("#recovered").append(total_recovered);
      // $("#deaths").append(total_deaths);

      // // using js
      // var aconfirmed = document.getElementById('confirmed');
      // aconfirmed.innerHTML = total_confirmed;
      //
      // var aactive = document.getElementById('active');
      // aactive.innerHTML = active;
      //
      // var adeaths = document.getElementById('deaths');
      // adeaths.innerHTML = total_deaths;
      //
      // var arecovered = document.getElementById('recovered');
      // arecovered.innerHTML = total_recovered;

      // Chart initialization
      var myChart = document.getElementById("myChart").getContext("2d");
      var chart = new Chart(myChart, {
        type: "line",
        data: {
          labels: states,
          datasets: [
            {
              label: "Confirmed Cases",
              data: confirmed,
              backgroundColor: "#f1c40f",
              minBarLength: 100,
            },
            {
              label: "Recovered",
              data: recovered,
              backgroundColor: "#2ecc71",
              minBarLength: 100,
            },
            {
              label: "Deceased",
              data: deaths,
              backgroundColor: "#e74c3c",
              minBarLength: 100,
            },
          ],
        },
        option: {},
      });
    });
  });


</script>
</body>
</html>
