<%- include('nav2') -%>

<table class="table table-hover table-dark">
  <div class="container-fluid">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">COVID UPDATES</h1>
      </div>
    </div>
  </div>
  <thead>
    <tr>
      <th scope="col">State Name</th>
      <th scope="col">Active</th>
      <th scope="col">Recovered</th>
      <th scope="col">Deceased</th>
      <th scope="col">Confirmed</th>
    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < state.length; i++) { %>
    <tr>
      <td><%= state[i].state %></td>
      <td><%= state[i].confirmed %></td>
      <td><%= state[i].active %></td>
      <td><%= state[i].recovered %></td>
      <td><%= state[i].deaths %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<%- include('footer') -%>
