<%- include('nav2') -%>

<div class="complete">

  <div class="Heading-suggestion">
    <h1>All User Suggestions</h1>
  </div>

  <div class="user-suggestion">

    <% newItems.forEach(function(item){ %>
    <div class="user">
      <p class="username">Name : <%= item.name %></p>
      <p class="email">Email : <%= item.email %></p>
      <p class="sugg">Suggestion : <%= item.suggestion %></p>
      <p class="time">Creation Time : <%= item.createdAt %></p>
    </div>
    <% }) %>

  </div>
</div>
<%- include('footer') -%>
