<%- include('header') -%>


<% newItems.forEach(function(item){ %>
  <p>  <%= item.name %></p>
  <p><%= item.email %></p>
  <p><%= item.suggestion %></p>
  <p>

    <%= item.createdAt %>
  </p>

  
<% }) %>

<%- include('footer') -%>
