<%- include('header') -%>


<% newItems.forEach(function(item){ %>
  <p>  <%= item.name %></p>
  <p><%= item.email %></p>
  <p><%= item.suggesstion %></p>
  <p>

    <%= item.createdAt %>
  </p>

  <p><%= item.updatedAt %></p>
<% }) %>

<%- include('footer') -%>
